<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane" *ngFor="let obj of productDetail.images" [ngClass]="{'active': selectedImageId == obj?.id}"><img [src]="obj.image" /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active" *ngFor="let obj of productDetail.images">
              <a (click)="this.selectedImageId=obj?.id" data-toggle="tab"><img [src]="obj.thumbnail" /></a>
            </li>
          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{productDetail.name}}</h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <!--<span class="review-no">41 reviews</span>-->
          </div>
          <p class="product-description"[innerHtml]="productDetail.description"></p>
          <h4 class="price">current price: <span>$180</span></h4>
          <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
          <h5 class="sizes">
            sizes:
            <div class="d-flex flex-row">
              <div class="quantity-box" (click)="onSizeChange(price)" [ngClass]="{'active': selectedQuantity == price.size}" *ngFor="let price of productDetail.prices">
                <span class="quantity-text" data-toggle="tooltip" title="{{price.name}}">{{price.name}}</span>
              </div>
            </div>
          </h5>
          <div class="action" *ngIf="selectedPrice">
            <button class="add-to-cart btn btn-default bg-primary" type="button">{{selectedPrice}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-product></app-product>
